<ion-header>
  <ion-toolbar>
    <ion-title>TEST-PAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of dayList">

    <div class='top-padding' [ngStyle]="item.aboveStyle"></div>

    <div
    id="testing1"
    class="testing1"
    mwlResizable
    (resizeStart)="resizeStart($event)"
    (resizeEnd)="onResize($event, item)"
    (resizing)='onResize($event, item)'
    [ngStyle]="item.activStyle"
    >
      <h1>{{ item.name }}</h1>
      <div
      class="resize-handle-bottom"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true }"
      ></div>
  
  
      <div
      class="resize-handle-top"
      mwlResizeHandle
      [resizeEdges]="{ top: true }"
      ></div>
    </div>
  </div>




  <div class="example-container">
    <h2>To do</h2>



    <div
      cdkDropList
      #activList="cdkDropList"
      [cdkDropListData]="activities"
      [cdkDropListConnectedTo]="[]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of activities" cdkDrag>
        {{ item }}
        <button class="btn move" cdkDragHandle>
          drag
        </button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="add"
      [cdkDropListConnectedTo]="[activList]"
      class="add-list"
      (cdkDropListDropped)="drop($event)">
      <div id='addButton' (click)="actionClicked()" (cdkDragDropped)="replenish()" class="addButon" *ngFor="let item of add" cdkDrag>
        <span >{{ item }}</span>
      </div>
    </div>
  </div>


  

</ion-content>
