<ion-content>
  <ion-list>
    <ion-radio-group value='checkedValue'>
        <ion-item>
          <ion-icon name="today-outline"></ion-icon>
          <ion-label>
           Day
          </ion-label>
          <ion-radio
            value='day'>
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>
            Week
          </ion-label>
          <ion-radio
            value='week'>
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="list-outline"></ion-icon>
          <ion-label>
            All
          </ion-label>
          <ion-radio
            value='all'>
          </ion-radio>
        </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
