<ion-content>
  <ion-list>
    <ion-radio-group (ionChange)='updateSrtBy()' [(ngModel)]='srtBy' value='catagory'>
        <ion-item>
          <ion-label>
           Catagory
          </ion-label>
          <ion-radio
            value='catagory'>
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>
            Date
          </ion-label>
          <ion-radio
            value='date'>
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>
            Custom
          </ion-label>
          <ion-radio
            value='custom'>
          </ion-radio>
        </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
