<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Add a New Activity</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="viewSelec">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Activity</ion-label>
    <ion-input [(ngModel)]="textInp" (ionChange)="validActivInp()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Competion Date</ion-label>
    <ion-datetime [(ngModel)]="endDate" (ionChange)='button1Check()' displayFormat="D MMM YYYY" [min]='date' max="2100" placeholder="None" ></ion-datetime>
    <div class="clear">
      <ion-button *ngIf='clearButton1 === true' (click)='clearEndDate()' fill="clear">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <ion-item>
    <ion-label>Competion Time</ion-label>
    <ion-datetime displayFormat="H:mm" (ionChange)='button2Check()' placeholder="None" [(ngModel)]="endTime"></ion-datetime>
    <div class="clear">
      <ion-button *ngIf='clearButton2 === true' (click)='clearEndTime()' fill='clear'>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

  <ion-button (click)="clicked()" (onChange)='validActivInp()' [disabled]='buttonDisabled' class="addButton">
    Add
  </ion-button>

</ion-content>
