<ion-toolbar color='primary'>
  <ion-title>Day Schedule</ion-title>
</ion-toolbar>

<ion-button [routerLink]='["/test-page"]'>Go to test</ion-button>

<ion-content>
  <ion-list>
    <div *ngFor='let item of day'>
      <ion-item-sliding >
        <ion-item>
          <ion-label>{{ item.name }}</ion-label>
          {{ item.startTime}} - {{item.endTime}}
        </ion-item>

        <ion-item-options>
          <ion-item-option (click)='rmItem(item)' color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>



  <!--This creates a square so that the button does not cover important infomation-->
  <div style="height: 80px"></div>
  <!--Button to add a new action-->
  <ion-fab (click)="showModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>