<ion-toolbar color='primary'>
  <ion-title>Day Schedule</ion-title>
</ion-toolbar>

<ion-content>
  <ion-list>
    <div *ngFor='let item of day'>
      <ion-item-sliding >
        <ion-item>
          <ion-label>{{ item.name }}</ion-label>
          {{ item.startTime}} - {{item.endTime}}
        </ion-item>

        <ion-item-options>
          <ion-item-option (click)='rmItem(item)' color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>



  <ion-grid>

    <!-- this row is displayed if adding varibale is false, displays add button but nothing else-->
    <ion-row>
      <ion-col size='auto'>
        <ion-button (click)="showModal()" size="medium" id="addButton">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>