<ion-toolbar color = 'primary'>
  <ion-title>To-Do</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)='addActiv()'>
      <ion-icon class='add-activ' name="add-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div>
    <ion-list>
      <ion-item lines='full' (onChange)='click()' *ngFor='let item of items'>
        <ion-label>{{ item.name }}</ion-label>
        <ion-checkbox class="checkbox" slot="start" item-right [(ngModel)]='item.completed'></ion-checkbox>
        <p>{{ item.compTime }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
