<ion-toolbar color='primary'>
  <ion-title>To-Do</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)='addActiv()'>
      <ion-icon class='add-activ' name="add-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor='let item of day'>
      <ion-label>{{ item.name }}</ion-label>
      {{ item.startTime}} - {{item.endTime}}
    </ion-item>
  </ion-list>

  <ion-grid>

    <!-- this row is displayed if adding varibale is false, displays add button but nothing else-->
    <ion-row *ngIf="adding === false">
      <ion-col size='auto'>
        <ion-button (click)="adding = true" size="medium" id="addButton">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- this row displayed if adding variable is true, allows user to input data for new activity-->
    <ion-row *ngIf="adding === true">

      <ion-col size='auto'>
        <ion-button (click)="adding = false" size="medium" id="addButton">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-input [(ngModel)]="name" (ionChange)="validCheck()" placeholder="Name..."></ion-input>
      </ion-col>

      <ion-col size="2">
        <ion-datetime [(ngModel)]="startTime" (ionChange)="validCheck()" displayFormat="HH:mm" placeholder="Start"></ion-datetime>
      </ion-col>

      <ion-col size="auto">
        <p>-</p>
      </ion-col>

      <ion-col size="2">
        <ion-datetime [(ngModel)]="endTime" (ionChange)="validCheck()" [disabled]='endTimeInpDis' displayFormat="HH:mm" placeholder="End" [min]='getRegTime(startTime)'></ion-datetime>
      </ion-col>

      <ion-col size="auto">
        <ion-button (click)="addActiv()" [disabled]="addDisabled" type="submit" size="small" id="tickButton">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-col>

      </ion-row>
    </ion-grid>
</ion-content>