<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Actions</ion-title>
    <ion-buttons *ngIf="this.srtBy === 'custom'" slot="end">
      <ion-button (click)='editAct()'>Move items</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar mode='ios'>
    <ion-segment (ionChange)='dayRefresh()' style="width: 90%;" [(ngModel)]='selected' value="day">

      <ion-segment-button value="day" layout="icon-start">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label>Day</ion-label> 
      </ion-segment-button>

      <ion-segment-button value="week" layout='icon-start'>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Week</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="all" layout='icon-start'>
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>All</ion-label>
      </ion-segment-button>
      
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <!--<ion-label>Sort</ion-label>-->
        <ion-icon background='primary' size='medium' name="swap-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-reorder-group *ngIf="this.srtBy !== 'catagory'; else mainElse" (ionItemReorder)='doReorder($event)' [disabled]='!edit'>
    <div *ngFor="let action of actions">
        <!-- this section is if the the user has elected to edit the order of there actions-->
        <ion-reorder *ngIf="edit === true; else elseBlock">
          <ion-item>
          <ion-label>
            <h6>{{action.name}}</h6>
            <p>Catagory - {{action.catagory}}</p>
            <p>Deadline - {{this.dateToDisplay(action.deadline)}}</p>
          </ion-label>
          <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-item>
      </ion-reorder>

      <ng-template #elseBlock>
        <ion-item-sliding>
          <ion-item lines='full' class="action">
            <ion-label>
              <h6>{{action.name}}</h6>
              <p>Catagory - {{action.catagory}}</p>
              <p>Deadline - {{this.dateToDisplay(action.deadline)}}</p>
            </ion-label>
  
            <ion-checkbox slot="end" [(ngModel)]="action.completed"></ion-checkbox>
          </ion-item>
  
          <ion-item-options>
            <ion-item-option (click)='showModal(action)' color="secondary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option (click)='deleteAction(action)' color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-template>

    </div>
  </ion-reorder-group>

  <ng-template #mainElse>
    <div *ngFor="let cat of this.catagories">

      <ion-list *ngIf="checkCatFull(cat)">

        <ion-list-header>
          <ion-label>{{ cat }}</ion-label>
        </ion-list-header>
        
        <div *ngFor="let action of actions">
          <ion-item-sliding *ngIf="action.catagory === cat">

            <ion-item lines='full' class="action">
              <ion-label>
                <h6>{{action.name}}</h6>
                <p>Deadline - {{this.dateToDisplay(action.deadline)}}</p>
              </ion-label>
  
              <ion-checkbox slot="end" [(ngModel)]="action.completed"></ion-checkbox>
            </ion-item>
            
            <ion-item-options>
              <ion-item-option (click)='showModal(action)' color="secondary">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-item-option>
              
              <ion-item-option (click)='deleteAction(action)' color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </div>

      </ion-list>

    </div>
    </ng-template>

    
  <!--This creates a square so that the button does not cover important infomation-->
  <div style="height: 80px"></div>
  <!--Button to add a new action-->
  <ion-fab (click)='showModal("new")' vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
