

.addButton{
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    margin: 0px 10px 10px 10px;
    --border-radius: 500px;
    --padding-end: 0px;
    --padding-start: 0px;
    height: 50px;
    width: 60px;
    ion-icon {
        font-size: larger;
    } 
}

ion-list-header{
    text-transform:capitalize;
    font-weight: bolder;
    font-size: larger;
}

.dateHeader{
    width: 110%;
    height: auto;
    color: black;
    background-color: #E8E8E8;
    padding: 6px 6px 6px 15px;
    span{
        font-weight: bold;
    }
}


.action {
    opacity: 10 !important;
}
