<!-- 
<ion-header>
  <ion-toolbar>
  <ion-title>Add</ion-title>
</ion-toolbar>
</ion-header>
-->    

<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)='logEvents($event)' value="action">
      <ion-segment-button value="action">
        Add Action
      </ion-segment-button>
      <ion-segment-button value="catagory">
        Create Catagory
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="selected === 'action'">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Deadline</ion-label>
      <ion-datetime  displayFormat="D MMM YYYY" placeholder="None" ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hair Color</ion-label>
      <ion-select (ionChange)='run()' [(ngModel)]="selecVal" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="none">None</ion-select-option>
        <ion-select-option value="work">Work</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  

  <div *ngIf="selected === 'catagory'">
    <ion-text>you chose to add a catagory</ion-text>
  </div>

</ion-content>
